DISCORD_USER_WEBHOOK_URL=https://discord.com/api/webhooks/<user_channel_id>/<token>
DISCORD_SYSTEM_WEBHOOK_URL=https://discord.com/api/webhooks/<system_channel_id>/<token>
TAS_API_KEY=<YOUR_CHT_TAS_API_KEY>
TAS_SERVICE_NUMBER=<YOUR_SERVICE_NUMBER>
TAS_PHONES=0912345678,0987654321
